
body{  
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
}

.navbar-brand{
    position: fixed;
    top: .5%;
    left: 1%;
    width: 18%;
    height: 30px;
}
.e{
    height: 220px;
    width: 350px;
    margin: 3px;
}
.nav-link{
    margin-right: 1.5%;
    
}
#video{
    width:600px ;
    height:400px ;
    margin-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;}

@media screen 
    and (max-width: 450px){
    .main{
            margin-top: 35%;
        }
        #change{
            padding-top:50%;
        }
        
        #form{
            
            padding-top: 55%;
        }
        .nav-bar #navbar-nav{
           
            flex-direction: row;
        }
        footer{
            font-size: .75em;
            height: 200px;
        }
        #video{
            height: auto;
            width:50%;
            margin-top: 60%;
        }
       #nav-bar{
        height: 40%;
        font-size: .7em;
       }
       #header{
           height: 42%;
       }
}        
    
 @media screen 
    and (max-width: 680px){
        .main{
            margin-top: 35%;
        }
        #change{
            padding-top:50%;
        }
        
        #form{
            
            padding-top: 55%;
        }
        .nav-bar #navbar-nav{
            
            flex-direction: row;
        }
        footer{
            font-size: .75em;
            height: 200px;
        }
        #video{
            height: auto;
            width:50%;
            margin-top: 60%;
        }
       #nav-bar{
        height: 40%;
        font-size: .7em;
       }
       #header{
           height: 42%;
       }
}        

#myDIV {
  width:100%;
  border-bottom: 5px solid rgb(228, 204, 250);
  border-radius: 50%;
  animation: mymove 5s infinite ease-in-out;
  z-index: 1;
}
@keyframes mymove {
.1%{width:0}
 10% {border-bottom-color: rgb(204, 6, 6);}
  30% {border-bottom-color: rgb(212, 3, 219);}
  50% {width:99%}
  50% {border-bottom-color: rgb(2, 120, 156);}
  70% {border-bottom-color: rgb(255, 217, 0);}
  90% {border-bottom-color: rgba(185, 3, 3, 0.973);}
  100%{width:100%}
}

/* flex-box :required to use for the free code camp landing page project, I don't like this style */
  div .link1{ 
        display: flex;
        flex-direction: row;
        text-decoration: none;
        flex-wrap: wrap;  
        justify-content: center; 
    }
